.doc1 {
    width: 75%;
    border-radius: 15px;
    margin: 2rem auto;
    background-image: url(src/img/bck.jpg);
    font-family: 'Libre Caslon Text', serif;
    color: white;
    padding: 2rem;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: -1rem;
    
  }
  .routerActive{
    color: crimson;
    
  }




