<h2> Produit sélectionné</h2>
<div>
  <span>
    <form [formGroup]="produitForm" (ngSubmit)="onSubmit()">
      <div> <span> Id: </span> <input formControlName="Id" /></div>
      <div> <span> Nom: </span> <input formControlName="Nom" /></div>
      <div> <span> Texture: </span> <input formControlName="Texture" /></div>
      <div> <span> Grammage: </span> <input formControlName="Grammage" /></div>
      <div> <span> Couleur: </span> <input formControlName="Couleur" /> </div>
    </form>
  </span>

</div>
<div>
  <span>
    <button type="button">Annuler</button>
  </span>
  <span>
    <button type="submit" [disabled]="!playerForm.valid">Valider</button>
  </span>
</div>
